<!-- Dajent.ejs -->
 <!DOCTYPE html>
 <html>
    <head>
    </head>
    <body>
        <!-- Banner -->
        <center>
            <h1>Dajent</h1>
        </center>
        <%-insert%>
    </body>
 </html>